.frame-detalhes {
    width: 50ch;
    height: 35ch;
    border: none;
}

#frame-mobile {
    display: none;
}

.paragrafo-mobile {
    display: none;
}

.paragrafo-desktop {
    margin: 0 1em;
}

@media(min-width: 768px) {

    .esquema-glass {
        width: 115ch;
        margin: auto;
    }
}

@media(max-width: 767px) {

    .frame-detalhes {
        width: 100%;
        height: 45ch;
    }
}