/*Cabeçalho*/
/*-----------------------------------------------------------------------------------*/

.titulos-abertura {
    display: flex;
    justify-content: space-between;
    padding: 1em .5em;
    margin-bottom: 1em;
}

.imagem-titulo-desktop {
    display: none;
}

.menu-navegacao {
    background-image: linear-gradient(to bottom, #cccaca, #f1eeee);
    padding: .5em;
}

.menu-item::after {
    content: '\272A';
    font-size: 1.5em;
    padding-right: 1em;
    color: #606060;
    text-shadow: none;
}

.menu-item {
    display: flex;
    border: .05em solid #ffffff;
    border-radius: 3%;
    padding: .5em;
    justify-content: space-between;
}

/*-----------------------------------------------------------------------------------*/

/* Cabeçalho - Corpo*/
/*-----------------------------------------------------------------------------------*/