/* Geral */
/*-----------------------------------------------------------------------------------*/
@media (max-width: 340px) {

    .interface {
        font-size: 80%;
    }
}

/*Cabeçalho*/
/*-----------------------------------------------------------------------------------*/

.titulos-abertura {
    display: flex;
    justify-content: space-between;
    padding: 1em .5em;
    margin-bottom: 1em;
}

.cabecalho-site {
    background: url(../img/glass-logo-min.jpg) no-repeat .5em 5em;
}

.titulo-cabecalho,
.titulo-principal {
    text-shadow: .05em .05em .05em rgba(0, 0, 0, .6);
}

.menu-link {
    color: #ffffff;
    font-weight: bold;
    text-shadow: .1em .1em .2em rgba(0, 0, 0, .7);
}

.imagem-titulo-desktop {
    display: none;
}

.menu-navegacao {
    background-image: linear-gradient(to bottom, #cccaca, #f1eeee);
    padding: .5em;
}

.menu-item::after {
    content: '\272A';
    font-size: 1.5em;
    padding-right: 1em;
    color: #606060;
    text-shadow: none;
}

.menu-item {
    display: flex;
    border: .05em solid #ffffff;
    border-radius: 3%;
    padding: .5em;
    justify-content: space-between;
}

.tabela-artigo {
    margin: 1em 0;
}

.legenda-foto {
    display: none;
}

.imagem {
    width: 100%;
    border: .7em solid #ffffff;
    box-shadow: 0 0 .05em #606060;
    margin: 2em 0;
}