@import url('https://fonts.googleapis.com/css?family=Titillium+Web&display=swap');

@font-face {
    font-family: 'Fonte-logo';
    src: url(../fonts/bubblegum-sans-regular.otf);
}

/* Cabeçalho */
/*-----------------------------------------------------------------------------------*/

.cabecalho-site {
    background: url(../img/glass-logo-min.jpg) no-repeat .5em 5em;
}

.titulo-cabecalho,
.titulo-principal {
    font-family: 'Fonte-logo', Helvetica, sans-serif;
    color: #606060;
    text-shadow: .05em .05em .05em rgba(0, 0, 0, .6);
}

.titulo-cabecalho {
    font-size: 2.5em;
}

.subtitulo-cabecalho,
.legenda-tabela {
    font-family: 'Titillium Web', sans-serif;
    font-size: 1.25em;
    color: #888888;
}

.menu-link {
    text-transform: uppercase;
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
    text-shadow: .1em .1em .2em rgba(0, 0, 0, .7);
}

/*-----------------------------------------------------------------------------------*/

/* Cabeçalho - Corpo */
/*-----------------------------------------------------------------------------------*/

.principal {
    margin: .5em;
}

.breadcrumbs,
.data,
.data-tabela {
    font-size: .6em;
    color: #606060;
    font-weight: bold;
}

.breadcrumbs {
    margin-bottom: 1em;
}

.data {
    text-align: right;
}

.titulo-principal {
    font-size: 1.7em;
}

.subtitulo-principal {
    font-family: Arial, Helvetica, sans-serif;
    color: #888888;
    font-weight: bold;
    font-size: .8EM;
    margin-bottom: 2em;
}

/*-----------------------------------------------------------------------------------*/

/* Artígo - Corpo */
/*-----------------------------------------------------------------------------------*/

.subtitulo-artigo {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2em;
    color: #606060;
    font-weight: bold;
    margin: 1em 0;
    background-color: #dddddd;
    padding: .2em .5em;
}

.titulo-diferente {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5em;
    color: #000000;
    font-weight: bold;
    margin: 1em 0;
    padding: .2em .5em;
}

.paragrafo-artigo {
    text-align: justify;
    text-indent: 2em;
    line-height: 1.4em;
    margin-bottom: 2em;
}

.enfase-artigo {
    font-weight: bolder;
    color: #4d4d4d;
}

.link-artigo {
    text-decoration: none;
    font-weight: 600;
    color: #b9740c;
    cursor: pointer;
}

.imagem-artigo {
    width: 100%;
    border: .7em solid #ffffff;
    box-shadow: 0 0 .05em #606060;
    margin: 2em 0;
}

.video-artigo {
    width: 100%;
}

/*-----------------------------------------------------------------------------------*/

/* Tabela Artígo */
/*-----------------------------------------------------------------------------------*/

.tabela-artigo {
    width: 100%;
}

.legenda-tabela {
    text-align: left;
}

.data-tabela {
    font-size: .5em;
    float: right;
    margin-top: 1em;
}

.ce,
.cd {
    border: .1em solid #606060;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    vertical-align: middle;
    font-size: 1em;
    padding: .5em 0;
}

.ce {
    background-color: #606060;
    color: #ffffff;
    font-weight: bold;
}

.cd {
    background-color: #cecece;
}

/*-----------------------------------------------------------------------------------*/

/* Aside - Outras notícias */
/*-----------------------------------------------------------------------------------*/

.outras-noticias {
    margin: .5em;
    margin-top: 2em;
    background-color: #dddddd;
    padding: 1em;
    box-shadow: .1em .1em .1em rgba(0, 0, 0, .5);
}

.subtitulo-secundario {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #606060;
    font-size: 1.25em;
    color: #ffffff;
    padding: .2em .5em;
    font-weight: bold;
    margin: 1em 0;
}