/* Geral */
/*-----------------------------------------------------------------------------------*/
.corpo {
    width: 100%;
    background-color: #dddddd;
}

.interface {
    background-color: #ffffff;
    width: 115ch;
    margin: 0 auto;
    padding: .7em;
    box-shadow: 0 0 .5em rgba(0, 0, 0, .6);
}

.imagem-titulo-mobile {
    display: none;
}

.legenda-foto,
.subtitulo-artigo,
.subtitulo-cabecalho,
.legenda-tabela {
    font-size: 140%;
}

.paragrafo-artigo {
    font-size: 120%;
    line-height: 1;
}

/*-----------------------------------------------------------------------------------*/

/* Cabeçalho */
/*-----------------------------------------------------------------------------------*/

.cabecalho-site {
    position: relative;
    border-bottom: 0.06em solid #606060;
    height: 18ch;
}

.titulos-abertura {
    margin: 1em .2em;
}

.titulo-cabecalho {
    font-weight: bolder;
    text-shadow: .01em .01em .01em rgba(0, 0, 0, .6);
    margin-bottom: .15em;
}

.menu-lista {
    position: absolute;
    top: -3ch;
    left: 35ch;
}

.menu-item {
    display: inline-block;
    background-color: #dddddd;
    padding: .7em;
    margin-left: .25em;
    color: #000000;

    transition: background-color 1s ease-out;
}

.menu-item:hover {
    color: #ffffff;
    text-decoration: underline;
    background-color: #606060;

    transition: all .5s ease-in;
}

.cabecalho-site {
    background: url(../img/glass-logo-peq.jpg) no-repeat .5em 5em;
}

.icone {
    position: absolute;
    top: 4.4ch;
    left: 88ch;
}

/*-----------------------------------------------------------------------------------*/

/* Artigo */
/*-----------------------------------------------------------------------------------*/

.titulo-legenda {
    color: #606060;
    background-color: #dddddd;
    padding: 5px 0px 5px 10px;
    margin: 10px 0px 10px 0px;
}

.imagem-artigo {
    position: relative;
    width: 100%;
    border: 8px solid #ffffff;
    box-shadow: 1px 1px 4px #000000;
    margin: 2em 0;
}

.legenda-foto {
    font-size: 150%;
    opacity: 0;
    position: absolute;
    top: 0px;
    background-color: rgba(0, 0, 0, .4);
    color: #ffffff;
    width: 100%;
    height: 100%;
    padding: 10px;
    box-sizing: border-box;
    transition: opacity 1s;
}

.legenda-foto:hover {
    opacity: 1;
}

.tabela-artigo {
    width: initial;
    margin: 2em auto;
}

.ce,
.cd {
    padding: .7em;
}