.album-item {
    width: 90%;
    height: 20em;
    border: .3em solid #ffffff;
    background-color: #ffffff;
    box-shadow: .05em .05em .15em rgba(0, 0, 0, .4);
    margin: 1em auto;
}

@media(min-width: 420px) {
    .album-item {
        width: 70%;
    }
}

@media(min-width: 540px) {
    .album-item {
        width: 60%;
    }
}

@media(min-width: 640px) {
    .album-item {
        width: 50%;
    }
}

.foto-legenda {
    color: #ffffff;
    text-shadow: 1px 1px 1px #000000;
    background-color: rgba(0, 0, 0, .3);
    font-size: 1em;
    padding: .4em;
    line-height: 37em;
}

#foto01 {
    background: url(../img/galeria-01min.jpg) no-repeat;
    background-position: 50% 50%;
}

#foto02 {
    background: url(../img/galeria-02min.jpg) no-repeat;
    background-position: 50% 50%;
}

#foto03 {
    background: url(../img/galeria-03min.jpg) no-repeat;
    background-position: 50% 50%;
}

#foto04 {
    background: url(../img/galeria-04min.jpg) no-repeat;
    background-position: 50% 50%;
}

#foto05 {
    background: url(../img/galeria-05min.jpg) no-repeat;
    background-position: 50% 50%;
}

#foto06 {
    background: url(../img/galeria-06min.jpg) no-repeat;
    background-position: 50% 50%;
}