@media(max-width: 767px) {

    .media {
        padding-left: 2em;
        ;
    }

    .radio {
        height: 30ch;
        background: url(../img/radio.png) no-repeat;
    }

    #audio01 {
        width: 60%;
        max-width: 28ch;
        height: 10%;
        position: relative;
        top: 8em;
        left: 1.5em;
    }

    #video03 {
        width: 80%;
        border: .5em inset #cecece;
    }

    @media(max-width: 340px) {

        #audio01 {
            top: 11em;
        }

        #video03 {
            margin-top: 2em;
        }
    }

    @media(max-width: 360px) {

        #video03 {
            width: 90%;
        }
    }

    @media(min-width: 550px) {

        #video03 {
            width: 65%;
            border: .9em inset #cecece;
        }
    }
}

@media(min-width: 768px) {

    .media {
        width: 130ch;
        height: 75ch;
        margin: 5em auto;
        background: url(../img/radio-tv.png) no-repeat;
    }

    #audio01 {
        display: block;
        position: relative;
        width: 35ch;
        top: 61ch;
        left: 73ch;
    }

    #video03 {
        display: block;
        position: relative;
        width: 60ch;
        top: 6ch;
        left: 8.5ch;
        border: initial;
    }
}