.cabecalho-corpo {
    margin-bottom: 10em;
}

.media {
    width: 130ch;
    height: 75ch;
    margin: auto;
    background: url(../img/radio-tv.png) no-repeat;
}

#audio01 {
    display: block;
    position: relative;
    width: 35ch;
    top: 61ch;
    left: 73ch;
}

#video03 {
    display: block;
    position: relative;
    width: 60ch;
    top: 6ch;
    left: 8.5ch;
}