.form {
    box-sizing: border-box;
    display: block;
    font-family: Roboto, Open Sans, sans-serif;
    font-weight: 300;
}

.titulo-cabecalho {
    background: #f2f2f2;
    color: #595959;
    padding: 1rem;
}

.corpo-form {
    padding: 1rem;
}

.linha-form::after {
    content: "";
    display: table;
    clear: both;
}

.grid-2,
.grid-4,
.grid-8,
.grid-10 {
    float: left;
    margin-bottom: 1rem;
    margin-right: 2%;
}

.grid-2 {
    width: 15%;
}

.grid-8 {
    width: 64%;
}

.grid-4 {
    width: 32%;
}

.grid-10 {
    width: 81%;
}

.rotulo-form {
    color: #333;
    display: block;
    font-weight: 500;
    letter-spacing: 1px;
    font-size: .9rem;
}

.campo-cep {
    display: table;
}

.campo-form {
    background: #fff;
    border: 1px solid #dcdcdc;
    box-shadow: inset 0 0 5px 2px rgba(242, 242, 242, .5);
    color: #595959;
    padding: .65rem;
    width: 100%;
    font-size: .9rem;
}

.elemento-cep {
    display: table-cell;
    vertical-align: middle;
    width: 1%;
    white-space: nowrap;
}

.botao-cep {
    padding: .64rem;
    border: 1px solid #dcdcdc;
    background: #f2f2f2;
    border-bottom: 3px solid rgba(0, 0, 0, .2);
    color: #595959;
    cursor: pointer;
}

.icone-cep:before {
    content: '\e8a7';
    font-family: "stilize";
    font-style: normal;
    font-weight: normal;
    display: inline-block;
    text-decoration: inherit;
    width: 1em;
    margin-right: .2em;
    text-align: center;
    font-variant: normal;
    text-transform: none;
    line-height: 1em;
    margin-left: .2em;
}

.icone-cep {
    font-style: italic;

}