body {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    overflow: hidden;
}

/* TOP ----------------------------------------------------------------------*/
.container {
    padding: .5em 3em;
    margin: 0 auto;
}

.menu-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu-list li {
    list-style: none;
}

.control-btn {
    cursor: pointer;
    font-size: 1em;
    background: transparent;
    color: #6c757d;
    border: 1px solid #6c757d;
    border-radius: 2px;
    padding: .5em 1em;
}

.control-btn:hover {
    background: #6c757d;
    color: #ffffff;
}

.about {
    background: url(../img/info-button.svg) no-repeat;
    width: 25px;
    height: 25px;
    display: inline-block;
    text-indent: -9999px;
    cursor: pointer;
    transition: all 1s;
}

.about:hover {
    transform: rotate(360deg);
}

/*---------------------------------------------------------------------------*/

/* Cronômetro ---------------------------------------------------------------*/

.timer-clock {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5em;
}

.timer-group {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    display: flex;
    align-items: baseline;
    font-size: 4em;
}

.title-text {
    color: #2c2c2c;
}

.cronometro-img {
    width: 50px;
    transform: rotate(15deg);
}

.timer-body {
    width: 81ch;
}

.timer-main {
    font-size: 12em;
    color: skyblue;
}

.clock-body {
    width: 64ch;
    margin-top: 5em;
}

.clock {
    font-size: 10em;
    color: black;
}

/*---------------------------------------------------------------------------*/

@media(min-width: 1200px) {
    .timer-clock {
        margin-top: 10em;
    }

    .clock-body {
        margin-top: 10em;
    }
}