.planos {
    background: $cor-auxiliar;

    h2 {
        color: $cor-branca;
    }
}

.plano {
    background: $cor-branca;
    width: 18em;
    display: inline-block;
    margin: 1em 0 0 1.4em;
    padding-bottom: 2em;

    &:hover {
        background: #dedede;
    }

    h3 {
        color: $cor-branca;
        font-size: 1.8 * $fonte-padrao;
        background: $cor-padrao;
        text-align: center;
        height: multiplica-fonte(2);
        padding-top: multiplica-fonte(.6);
        margin-top: 0;
    }

    div {
        text-align: center;
        color: $cor-padrao;
        font-size: multiplica-fonte(2.75);
    }

    button {
        background: $cor-padrao;
        border: 0;
        color: $cor-branca;
        width: 210px;
        height: 38px;
        font-size: multiplica-fonte(1.2);
        @include border-radius(10px);
        @include box-shadow(black 0 2px 6.65px);
        margin-left: multiplica-fonte(2);
    }
}

.itens-plano {
    padding-left: multiplica-fonte(1.2);

    li {
        font-size: $fonte-padrao;
        list-style: none;
        border-bottom: 1px solid #acacac;
        padding: multiplica-fonte(.5);
        width: multiplica-fonte(14.8);

        &:last-child {
            border: 0;
        }
    }

    span {
        float: right;
    }
}

@include all-sprite-sprites;

.sprite-icone-check,
.sprite-icone-x {
    width: 18px;
    height: 18px;
}