html,
body {
    width: 100%;
    height: 100%;
    overflow: hidden;
    margin: 0;
}

.sky {
    height: 40%;
    background: skyblue;
}

.grass {
    height: 30%;
    background: seagreen;
}

.road {
    height: 30%;
    background: dimgray;
    border-top: 1em solid grey;
    border-bottom: 1em solid grey;

    box-sizing: border-box;
}